<div class="container">
  <div class="quick-link"><< <i class="fa fa-user-plus icon1"></i><%= link_to 'New user', new_admin_user_path %></div>
  <div class="quick-link"><< <i class="fa fa-users-cog icon2"></i><%= link_to 'Dashboard', admin_dashboard_index_path %></div>
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th><span>User</span></th>
                <th><span>Partner</span></th>
                <th><span>Lunch data</span></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @mystery_pairs.each do |pair| %>
                <%= render partial: 'admin/mystery_pairs/pair', locals: { pair: pair, user: pair.user, partner: pair.partner } %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="text-center mt-3 mt-sm-3">
          <%= paginate @mystery_pairs %>
        </div>
      </div>
    </div>
  </div>
</div>
