<div class="container-xl px-4 mt-4">
    <div>
        <div class="quick-link"><< <i class="fa fa-user-circle icon1"></i><%= link_to 'User details', admin_user_path(@user) %></div>
        <div class="quick-link"><< <i class="fa fa-users icon2"></i><%= link_to 'Users', admin_users_path %></div>
    </div>
    <%= render 'form', user: @user, url: admin_user_path %>
</div>